.env

node_modules

bundle.js
bundle-prod.js
reservationData.js
infoListData.js

newrelic_agent.log
newrelic.js
coverage/
dump.rbd

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
