.env

node_modules
client/dist/res-bundle.js
client/dist/res-bundle-server.js
bundle.js
bundle-server.js
bundle-prod.js
reservationData.json
infoListData.json

newrelic_agent.log
newrelic.js
coverage/
dump.rdb

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
